@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
    @apply border-yellow-button
}

 /* width */
 ::-webkit-scrollbar {
    width: 6px;
    z-index: -1;
  }
  
/* Track */
::-webkit-scrollbar-track {
border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #d8d8d8;
opacity: 6px;
border-radius: 6px;
}
/* Handle */
::-webkit-scrollbar-thumb:hover{
background: #c9c9c9;
opacity: 6px;
border-radius: 6px;
}